<div class="jumbotron">
  <h1 class="display-4">Welcome to Recipe Share</h1>
  <p class="lead">This is where I will put something about the recipe app!</p>
  <hr class="my-4">
  <div id="firebaseui-auth-container"></div>
</div>
