<app-nav></app-nav>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" (click)="refreshItem()">Add Ingredient</button>
  <button type="button" class="btn btn-secondary" (click)="showCatModal=true">Add Category</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>
<div>
  <h5 class="mt-3">Recipe Name</h5>

  <ul class="list-group" *ngFor="let item of itemsList">
    <li *ngIf="itemsList.length > 0" class="list-group-item d-flex justify-content-between align-items-center">
      {{item.name}}
      <div>
        <span class="mr-1">{{item.quantity}}</span>
        <span class="mr-3">{{item.type}}</span>
        <span (click)="editItem(item)" class="mr-3">{{igloo}}</span>
        <span (click)="deleteItem($event)" class="close">&#215;</span>
      </div>
    </li>
  </ul>
</div>

<div class="modal" [ngClass]="{show:showModal}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (ngSubmit)="addItem()" #addForm="ngForm">
            <label>Ingredient name:</label>
            <input required type="text" [(ngModel)]="formData.name" name="name" class="form-control">
            <label>Amount:</label>
            <input required type="number" [(ngModel)]="formData.quantity" name="quantity" class="form-control">
            <label>Type:</label>
            <select required class="form-control" [(ngModel)]="formData.type" name="type">
              <optgroup label="Volume">
                <option value="tsp">Teaspoon</option>
                <option value="tbsp">Tablespoon</option>
                <option value="fl oz">Fluid Ounce</option>
                <option value="gil">Gil</option>
                <option value="cup">Cup</option>
                <option value="pint">Pint</option>
                <option value="quart">Quart</option>
                <option value="gallon">Gallon</option>
                <option value="ml">Milliliter</option>
                <option value="l">Liter</option>
                <option value="gal">Deciliter</option>
              </optgroup>
              <<optgroup label="Weight">
                <option value="lb">Pound</option>
                <option value="oz">Ounce</option>
                <option value="mg">Milligram</option>
                <option value="g">Gram</option>
                <option value="kg">Kilogram</option>
              </optgroup>
            </select>
            <label>Category:</label>
            <select class="form-control" [(ngModel)]="formData.category" name="type">
              <option>Test Cat</option>
            </select>
            <button type="button" class="btn btn-primary mt-3" type="submit">Add</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{show:showCatModal}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showCatModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (ngSubmit)="addCategory()" #addForm="ngForm">
            <label>Category:</label>
            <input required type="text" required [(ngModel)]="category" name="name" class="form-control">
            <button type="button" class="btn btn-primary mt-3" type="submit">Add</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{show:nameModal}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recipe Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="nameModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (ngSubmit)="addRecipeName()" #addForm="ngForm">
            <label>Recipe Name:</label>
            <input required type="text" required [(ngModel)]="recipeName" name="recipeName" class="form-control">
            <button type="button" class="btn btn-primary mt-3" type="submit">Add</button>
          </form>
      </div>
    </div>
  </div>
</div>
